/* styling for tables to be simplistic and minimalistic */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  color: #444;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}