.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  display: flex;
  height: 90%;
}

.mapDiv {
  width: 75%;
}

.realTimeDataDisplay {
  display: block;
  width: 25%;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  color: #333;
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

table tr {
  line-height: 1.5;
}

table tr:nth-child(even) {
  background-color: #f0f0f0;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table td {
  padding: 10px;
  border: 1px solid #ddd;
}

table td:first-child {
  width: 50%;
  color: #007BFF;
}

table td:nth-child(2) {
  text-align: right;
  width: 50%;
  color: #28a745;
}

.buttons {
  height: 10%;
}